@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  background: #09090b;
  color: #fafafa;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #18181b;
}
::-webkit-scrollbar-thumb {
  background: #3f3f46;
  border-radius: 3px;
}

@media print {
  aside {
    display: none !important;
  }
  main {
    padding: 0 !important;
  }
  body {
    background: white !important;
  }
  .print-page {
    max-width: 100% !important;
    margin: 0 !important;
  }
  @page {
    size: A4;
    margin: 8mm;
  }
  .print-via {
    height: 47vh;
    overflow: hidden;
    page-break-inside: avoid;
  }
}
